<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxg.house.viewer.mapper.CountyMapper">

    <!--<cache/>-->

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into county
        (name, code, city_id,city_code,city_name,province_id,province_name)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.name},
            #{item.code},
            #{item.cityId},
            #{item.cityCode},
            #{item.cityName},
            #{item.provinceId},
            #{item.provinceName}
            )
        </foreach>
    </insert>

    <select id="queryInitCountyList" resultType="com.fxg.house.viewer.entity.County">
        select c.* from county c left join county_init_record cr on cr.county_id = c.id
        where cr.id is not null
        <if test="cityCode != null and cityCode !=''">and c.city_code = #{cityCode}</if>
        order by c.code
    </select>
</mapper>
